.main-two {
	height: 1110px;
	border-bottom: 1px solid #eaecef;
	background-color: #fcfcfc;
	
	
}
.main-two-inner {
	width: 1638px;
	
	margin: 0 auto;
}
.interests {
	height: 398px; 
	
 }
 .interests .title h2 a {
 	width: 400px;
 	height: 70px;
 	display: inline-block;
 /*	margin-top: 62px;
 	margin-left: 30px;
 	margin-right: 1208px;
 	margin-bottom: 26px;*/
    margin: 27px 1238px 0px 0px;
 	color: #24292e;
 	font-size: 30px;
 	font-weight: 400;
 	text-align: center;
 	line-height: 70px;
}
.interests .title h2 a:hover {
	color: #0366dc;
	text-decoration: underline;
}
.collection {
   width: 1515px;
   height: 290px;
   padding: 20px 46px;
   overflow-x: auto;
   overflow-y: hidden; 
   background-color: #fcfcfc;

}
.subCollection
{
    width: 2000px;
}

.collection .one{
    width: 300px;
	height: 230px;
	border: 1px solid #eaecef;
	display: inline-block;
	padding: 25px;
    float: left;
    margin-right: 30px;
    border-radius: 4px;
    background-color: #fff;
}
.collection .one .first {
	margin-bottom: 10px;
}
.collection .one img {
	width: 25px;
	height: 25px;
    vertical-align: middle;
    border-radius: 3px;
}
.collection .one a {
	font-size: 18px;
	color: #0366d6;
	margin-left: 8px;
}
.collection .one a:hover {
	text-decoration: underline;
}
.collection .one .second {
	font-size: 18px;
	color: #586069;
	margin-bottom: 10px;
}
.collection .one .third i {
	font-family: "icomoon";
	font-style: normal;
	font-size: 18px;
	color: #586069;
}
.collection .one .third a {
	color: #586069;
	margin-left: 0;
}

.collection .one .third i:hover {
	color: #0366d6;
}
.collection .one .fourth {
   height: 110px;
   
   margin-top: 5px;
   position: relative;

}
.collection .one .fourth p {
    position: absolute;
    bottom: 0;
    font-size: 14px;
    color: #586069;
}

.collection .two{
	width: 300px;
	height: 230px;
	border: 1px solid #eaecef;
	display: inline-block;
	padding: 25px;
    float: left;
    margin-right: 30px;
    border-radius: 4px;
    background-color: #fff;
}
.collection .two .first {
	margin-bottom: 10px;

}
.collection .two img {
	width: 25px;
	height: 25px;
    vertical-align: middle;
    border-radius: 3px;
}
.collection .two a {
	font-size: 18px;
	color: #0366d6;
	margin-left: 8px;
}
.collection .two a:hover {
	text-decoration: underline;
}
.collection .two .second {
	font-size: 18px;
	color: #586069;
	margin-bottom: 10px;
}
.collection .two .third i {
	font-family: "icomoon";
	font-style: normal;
	font-size: 18px;
	color: #586069;
}
.collection .two .third a {
	color: #586069;
	margin-left: 0;
}

.collection .two .third i:hover {
	color: #0366d6;
}
.collection .two .fourth {
   height: 80px; 
   margin-top: 5px;
   position: relative;
   margin-bottom: 0;

}
.collection .two .fourth p {
    position: absolute;
    bottom: 0;
    font-size: 14px;
    color: #586069;
}


.collection .three{
	width: 300px;
	height: 230px;
	border: 1px solid #eaecef;
	display: inline-block;
	padding: 25px;
	margin-right: 30px;
	/*margin-left: 36px;
    margin-top: 16px;*/
    float: left;
    border-radius: 4px;
     background-color: #fff;
}

.collection .three .first {
	margin-bottom: 10px;
}
.collection .three img {
	width: 25px;
	height: 25px;
    vertical-align: middle;
    border-radius: 3px;
}
.collection .three a {
	font-size: 18px;
	color: #0366d6;
	margin-left: 8px;
}
.collection .three a:hover {
	text-decoration: underline;
}
.collection .three .second {
	font-size: 18px;
	color: #586069;
	margin-bottom: 10px;
}
.collection .three .third i {
	font-family: "icomoon";
	font-style: normal;
	font-size: 18px;
	color: #586069;
}
.collection .three .third a {
	color: #586069;
	margin-left: 0;
}

.collection .three .third i:hover {
	color: #0366d6;
}
.collection .three .fourth {
   height: 120px;
  
   margin-top: 5px;
   position: relative;
   margin-bottom: 0;

}
.collection .three .fourth p {
    position: absolute;
    bottom: 0;
    font-size: 14px;
    color: #586069;
}


.collection .four{
	width: 300px;
	height: 230px;
	border: 1px solid #eaecef;
	display: inline-block;
	padding: 25px;
	/*margin-left: 36px;
    margin-top: 16px;*/
    float: left;
    border-radius: 4px;
    margin-right: 30px;
     background-color: #fff;
}
.collection .four .first {
	margin-bottom: 10px;
}
.collection .four img {
	width: 25px;
	height: 25px;
    vertical-align: middle;
    border-radius: 3px;
}
.collection .four a {
	font-size: 18px;
	color: #0366d6;
	margin-left: 8px;
}
.collection .four a:hover {
	text-decoration: underline;
}
.collection .four .second {
	font-size: 18px;
	color: #586069;
	margin-bottom: 10px;
}
.collection .four .third i {
	font-family: "icomoon";
	font-style: normal;
	font-size: 18px;
	color: #586069;
}
.collection .four .third a {
	color: #586069;
	margin-left: 0;
}

.collection .four .third i:hover {
	color: #0366d6;
}
.collection .four .fourth {
   height: 56px;
   
   margin-top: 5px;
   position: relative;
   margin-bottom: 0;

}
.collection .four .fourth p {
    position: absolute;
    bottom: 0;
    font-size: 14px;
    color: #586069;
}


.repositories {
	height: 420px; 
	
 }
 .repositories .title h2 {
 	margin-top: 40px;
 }
 .repositories .title h2 a {
 	width: 400px;
 	height: 92px;
 	display: inline-block;
 /*	margin-top: 62px;
 	margin-left: 30px;
 	margin-right: 1208px;
 	margin-bottom: 26px;*/
    margin: 0px 1238px 0px 0px;
 	color: #24292e;
 	font-size: 30px;
 	font-weight: 400;
 	text-align: center;
 	line-height: 120px;
}
.repositories .title h2 a:hover {
	color: #0366dc;
	text-decoration: underline;
}


 .repositories>.title {
 	position: relative;
 }
.selectProperty>ul {
	height: 175px;
	width: 384px;
	float: right;
	margin-top: 5px;
	position: absolute;
	right: 60px;
	top: 18px;
	
}
.selectProperty>ul>li {
	width: 200px;
	height: 35px;
	background-color: #f0f4f6;
	float: right;
	line-height: 35px;
	border: 1px solid #a1a4a8;
	border-radius: 4px;
	padding-left: 20px;
}
.selectProperty>ul>li span {
     color: #898d90;
}
.selectProperty>ul>li i {
	font-family: "icomoon";
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
}
.selectProperty>ul>li:hover {
	background-color: #e9ecef;
	box-shadow: 0 0 3px 3px #d4d8da inset;
	cursor: pointer;
}

.selectProperty>ul>li>ul {
	width: 384px;
	height: 140px;
	background-color: #eeaadd;
	float: right;
	margin-top: 6px;
	border-radius: 4px;
	border: 1px solid #cccccd;
    overflow: hidden;
    display: none;
	
}
.selectProperty>ul  li:hover ul{
	display: block;
}

.selectProperty>ul>li>ul>li {
	height: 35px;
	padding-left: 40px;
	line-height: 35px;


}
.selectProperty>ul>li>ul .arr  {
	position: relative;
}
.selectProperty>ul>li>ul .same i {
	font-family: "icomoon";
	font-weight: 400;
	font-size: 16px;
	font-style: normal;
	position: absolute;
	left: 10px;
	bottom: 0;
	

}
.selectProperty>ul>li>ul .first {
	background-color: #f6f8fa;
	border-bottom: 1px solid #cccccd;
	position: relative;
	font-weight: 700;
    padding-left: 20px;
}
.selectProperty>ul>li>ul .first i{
	font-family: "icomoon";
	font-weight: 400;
	font-style: normal;
	position: absolute;
	right: 10px;
	color: #ccc;
}
.selectProperty>ul>li>ul .first i:hover {
	color: #000;
}
.selectProperty>ul>li>ul li {
	background-color: #fff;
	
}
.selectProperty>ul>li>ul .same:hover {
	background-color: #4899ea;
	color: #fff;
}
.send-email {
	height: 242px;
	position: relative;
	background-color: #fcfcfc;
}
.content {
	width: 778px;
	height: 120px; 
    position: absolute;
    top: 50%;
    margin-top: -60px;
    left: 50%;
    margin-left: -389px;
    border: 1px solid #e1e4e8 ;
    border-radius: 3px;
    background-color: #fff;
}
.content i {
     font-family: "icomoon";
     font-style: normal;
     font-weight: 400;
}
.content h2 {
	font-size: 28px;
	font-weight: 400;
    margin-left: 20px;
    margin-top: 32px;
}
.content h2>i {
   color: #28a745;
}
.content p {
	color: #818284;
	display: inline-block;
	margin-right: 10px;
	margin-left: 20px;
	margin-top: 20px;
}
.content a {
	color: #0366d6;
}
.content a>i {
	font-size: 12px;
}
.content a:hover {
	text-decoration: underline;
}
